body {
    background-image: url("./assets/bg.png");
    background-size: cover;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 13, 13);
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 35px;
    margin-left: 10px;
}

.list {
    display: flex;
    list-style-type: none;

}

.list-item {
    margin-left: 100px;
    position: relative;
    right: 240px;

}

.button-small {
    background-color: rgb(255, 0, 234);
    color: white;
    padding: 5px 15px;
    margin: 0%;
    border-radius: 6px;
}

.hero-heading {
    text-align: center;
    font-style: bold;
    font-size: 60px;
}

.hero {
    font-size: 50px;
    text-align: center;
}

.button-large {
    background-color: rgb(255, 0, 234);
    font-style: italic;
    font-size: 20px;
    color: white;
    padding: 10px 10px 10px 20px;
    margin: 20px;
    border-radius: 10px;
}